@media (max-width: 1200px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 850px) {
    .br {
        display: none;
    }
    form {
        flex-direction: column;
        height: auto;
    }

    textarea {
        margin-right: 0;
        margin-bottom: 15px;
        height: 200px;

    }

    .input-wrapper {
        max-width: none;
    }
    
    input {
        margin-bottom: 15px;
    }

}